@font-face {
  font-family: VazirBold;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Vazir-Bold.ttf") format("truetype");
}

@font-face {
  font-family: VazirMedium;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Vazir-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Vazir.ttf") format("truetype");
}

@font-face {
  font-family: VazirLight;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Vazir-Light.ttf") format("truetype");
}

@font-face {
  font-family: VazirThin;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Vazir-Thin.ttf") format("truetype");
}
