@import "./font.scss";

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: transparent;
  --color-back: #f5f5f5;
  --color-primary: #00bfa5;
  --color-secondary: #e61236;
  --color-text: #37474f;
  --color-border: #d4d4d4;
  --color-gray: #9b9b9b;
}

* {
  font-family: "VazirBold", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  direction: rtl;
}

body {
  color: var(--color-text);
  background-color: var(--color-back);
}

h2 {
  font-size: 16px;
  font-weight: 700;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 10px;
  font-weight: 400;
}

button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  padding: 16px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.relative {
  position: relative;
}
